<ion-header>
  <ion-toolbar>
    <ion-title>Todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" (click)="addTodo()">
    Agregar
  </ion-button>

  <ion-list>

    <ion-item *ngFor="let todo of todos">

      <ion-label>
        <h2>{{ todo.title }}</h2>

        <p *ngIf="todo.category">
          Categoría: {{ todo.category.name }}
        </p>

        <p>
          Estado: {{ todo.completed ? 'Completado' : 'Pendiente' }}
        </p>
      </ion-label>

      <ion-buttons slot="end" (click)="delete(todo.id)">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-buttons>

    </ion-item>

  </ion-list>

</ion-content>
