<ion-header>
  <ion-toolbar>
    <ion-title>Todos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNewTodoModal()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="todos">

  <ion-segment value="all" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="all">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending">
      <ion-label>Pendientes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar
    [ngModel]="searchTerm()"
    (ngModelChange)="searchTerm.set($event)">
  </ion-searchbar>

  <ion-item>
    <ion-label>Categoría</ion-label>

    <ion-select
      placeholder="Todas"
      [value]="selectedCategoryFilter"
      (ionChange)="onCategoryFilterChanged($event.detail.value)">

      <ion-select-option [value]="null">
        Todas
      </ion-select-option>

      <ion-select-option
        *ngFor="let category of categories"
        [value]="category.id">

        {{ category.name }}

      </ion-select-option>

    </ion-select>

</ion-item>

  <div
    class="todos__empty"
    *ngIf="filteredTodos().length === 0">

    <ion-card>

      <ion-card-content>

        <ion-icon name="file-tray-outline" size="large"></ion-icon>

        <h2>No hay tareas</h2>

        <p>
          Esta categoría no tiene tareas asignadas.
        </p>

      </ion-card-content>

    </ion-card>

  </div>

  <ion-list *ngIf="filteredTodos().length > 0">

    <ion-item
      *ngFor="let todo of filteredTodos()"
      class="todos__item"
      (click)="openCategoryModal(todo)"
      button>

      <ion-label class="todos__content" >
        <div>
          <h2 class="todos__title">
            {{ todo.title }}
          </h2>

          <p *ngIf="todo.category" class="todos__category" [style.color]="todo.category.color">
            Categoría: {{ todo.category.name }}
          </p>

          <p
            class="todos__status"
            [ngClass]="{
              'todos__status--completed': todo.completed,
              'todos__status--pending': !todo.completed
            }"
            [style.color]="todo.completed ? '#27ae60' : '#e67e22'">
            {{ todo.completed ? 'Completado' : 'Pendiente' }}
          </p>
        </div>
      </ion-label>

      <div class="todos__actions" (click)="$event.stopPropagation()">
        <ion-button
          fill="clear"
          (click)="delete(todo)">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-button>
      </div>

    </ion-item>

  </ion-list>

</ion-content>
