<ion-header>
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addCategory()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content class="categories">

  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar categoría" (ionInput)="filterCategories()"></ion-searchbar>

  <ion-list>

    <ion-item
     (click)="openUpdateCategoryModal(category)"
      *ngFor="let category of filteredCategories"
      class="categories__item">
      <ion-icon
      slot="start"
      name="ellipse"
      [ngStyle]="{color: category.color}">
      </ion-icon>
      <ion-label>

        <h2 class="categories__name">
          <span
            class="categories__color"
            [style.background]="category.color">
          </span>

          {{ category.name }}

        </h2>

      </ion-label>



      <div class="categories__actions">

        <ion-button
          fill="clear"
          (click)="delete(category.id); $event.stopPropagation()">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-button>
        <span class="categories__color-circle" [style.background]="category.color"></span>

      </div>

    </ion-item>

  </ion-list>

</ion-content>
